# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/
env/
ENV/

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDE / Editor
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log